{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Are We Ready for Real-world Neuroscience?</h1>
    <p class="lead">Relevance of Ecological Validity </p>
    <hr class="my-4">
    <section class="seccion">
        <article>
            <h2> Ecological Validity Assessment (EVA) Tool</h2>
            <time datetime="28-04-2020">Pre-release vertion, December 2020</time>
            <img src="static/imagenes/logo2.png" class="resize1" />
            <p class="pagraph">In cognitive neurosciences, fundamental principles of perception and functional brain
                organization have been established with highly controlled tasks and testing environments. To investigate
                cognitive functions and their underlying brain mechanisms in naturalistic settings, recent technical
                advances also allow for real-world neuroscience approaches. The diversity in approaches can be
                classified by a three-stage cycle which includes controlled laboratory research, partially naturalistic laboratory research approach, and
                naturalistic real-world research approach. Each of these approaches yields a different degree of ecological
                validity which is important to consider when comparing results across studies, and identifying gaps for
                future research.
            </p>
            <p class="pagraph"> Based on this three-stage cycle, we developed the Ecological Validity Assessment (EVA)
                tool to inform about the approach a researcher has taken in a short and easy manner. It allows researchers to
                objectively describe the ecological validity of their research project and identify where it fits on the
                continuum ranging from laboratory research to real-world, naturalistic research. The EVA tool consists
                of a set of ten questions concerning the specifics of a study. It outputs a summary of the provided
                answers as well as a compass plot which represents the study’s level of ecological validity which can
                easily be used for pre-registration, grant proposals, papers, reviews and meta-analyses. It would
                improve drawing conclusions across studies, and raising awareness for the validity and applicability of
                studies. </p>

        </article>
    </section>
    <p>You can find more information here:</p>
    <!--<a class="btn btn-primary btn-lg" href="https://psyarxiv.com/qb9tz/" role="button">Preprint</a>-->
    <a style="margin-left:13em" class="btn btn-primary btn-lg" href="https://psyarxiv.com/qb9tz/" role="button">Preprint</a>
    
    <section class="seccion" >
        <p>  Or go directly to the <a href="{{ url_for('formulary_ask')}}">Form</a> </p>
    </section>

    
</div>

{% endblock %}