{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Are We Ready for Real-world Neuroscience?</h1>
    <p class="lead">Relevance of Ecological Validity </p>
    <hr class="my-4">
    <section class="seccion">
        <article>
            <h2> Ecological Validity Assessment (EVA) Tool</h2>
            <time datetime="28-04-2020">Pre-release vertion, May 2020</time>
            <img src="static/imagenes/logo2.png" class="resize1" />
            <p class="pagraph">The consideration of ecological validity while designing a study is one of the main
                challenges in cognitive neuroscience. Most of the studies typically include highly controlled tasks as
                well as artificial testing environments which leads to tremendous decreases in ecological validity.
                Recent technical advances allow for improvements in study design which is why many cognitive
                neuroscience studies have started working towards increasing ecological validity of their tasks. What
                would help is to objectively assess and report the level of ecological validity of one’s study. Such
                assessment would improve comparing results of different studies, drawing conclusions based on different
                studies, and identifying gaps for future research increasing the overall validity and applicability of
                studies. </p>
            <p class="pagraph"> Thus, we developed the Ecological Validity Assessment (EVA) tool to assess ecological
                validity of psychological and neuroscientific studies. It allows researchers to objectively describe the
                ecological validity of their research project and identify where it fits on the continuum ranging from
                traditional laboratory research to real-world, fully naturalistic research. </p>
            <p class="pagraph"> The EVA tool consists of a set of ten questions concerning the specifics of a study. It
                outputs a summary of the provided answers as well as a compass plot which represents the study’s level
                of ecological validity which can easily be used for pre-registration, grant proposals, papers, reviews
                and meta-analyses.
            </p>
        </article>
    </section>
    <p>You can find more information here.</p>
    <!--<a class="btn btn-primary btn-lg" href="https://fluxsociety.org/" role="button">Preprint</a>-->
    <a class="btn btn-primary btn-lg" role="button">Preprint soon</a>

</div>

{% endblock %}