{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">EVA additional information</h1>
    <p class="lead">Examples and more </p>
    <hr class="my-4">
    <section class="seccion">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <div class="container">  
        <fieldset id="contact">
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"> More examples</button>
        </fieldset>
        <article>

            <h4> 3. Describe the kind of stimuli used in your tasks. </h4>

            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> Typically, static stimuli presented one at a time, sequentially</label></li>
                <li> <label> Stimuli varying in their goal-relevance to the performed task (there are distractor and target stimuli)</label>
                </li>
                <li></label> Audio clips of phonemes or words
                </label>
                </li>
                <li> <label> Colored 2D shapes</label></li>
                <li> <label> Pictures of faces with different expressions </label></li>
                <li> <label> Unisensory </label></li>

                 
            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> Stimuli vary in their goal-relevance to the performed task (there are distractor and target stimuli) while varying also on other dimensions (see below)
                </label></li>
                <li> <label> Distractors or target stimulating many senses (visual/auditory, multisensory)</label>
                </li>
                <li></label>Distractors/targets vary in their familiarity to the observer, being unfamiliar or representing/being connected by a naturalistic object category (animate objects, tools, conspecifics)
                </label>
                </li>
                <li> <label> Multisensory  </label></li>
                <li></label> Audio or audiovisual clips of social scenarios</label>
                </li>
                <li></label> Watching movies or listening to stories</label>
                </li> 
                <li> <label> Stimuli presented in VR  </label></li>

            </ul>
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label> Social interactions in real-world settings</label>                </li>
                <li> <label> Disruptions from classmates during a lesson at school </label></li>
                <li> <label> In-place experiences (such as subjective effect of a drug in natural settings, risk activity, etc) </label></li>

            </ul>

            <h4> 4. Describe your experimental approach.</h4>
            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> Perception task involving a single meaningless stimulus presented sequentially on the screen</label></li>
                <li> <label> Working memory task for shapes presented on a screen</label>                </li>
                <li></label> Inhibiting a button press to a trained stimulus</label>               </li>
                <li></label> Spatial orienting task involving a single target stimulus (a shape) preceded by a single
                    cue/distractor</label></li>
                <li></label> Flanker task (responding to the direction of a middle arrow, that is displayed between other arrows pointing in a similar or opposite direction)</label>               </li>
                <li></label> Oddball task (responding to a target stimulus in a stream of distractors)</label>               </li>

            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> Test of memory after viewing a movie </label></li>
                <li> <label>Selective attention task where both targets and distractors are presented in multi-stimulus arrays (e.g. visual search)</label>
                </li>
                <li></label>Tasks conducted in virtual reality or a room resembling a naturalistic context (e.g. kitchen, a flat or a simple shop)</label>
                </li>
                <li></label>Social interaction in the lab with a confederate    </label>                </li>
                <li></label> Clinical neuropsychological task to measure cognitive functions such as fluid Intelligence [Matrix Reasoning, etc], attention [Forward Digit span, etc], executive functions [ Trail Making Test Part B, etc], memory [Rey Auditory Verbal Learning Test], social cognition [Reading the Mind in the Eyes Test, etc], etc.
                </label>
                </li>
                <li></label> Watching a movie in the MRI scanner    </label>                </li>
                <li></label> Peer presence during task - giving a speech in the lab in front of confederates/video recording of an audience    </label>                </li>

            </ul>
            
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label>Selective attention task where both targets and distractors are externally-driven and appear within a veridical external environment (classroom or public place like museum exhibitions)
                </label></li>
                <li> <label>Observing child interact with parent at home </label> </li>
                <li></label>Classroom based and teacher lead cirriculum </label>  </li>
                <li></label> Free narratives </label>  </li>
                <li></label> Observing/transcribing videos of treatment sessions with clinician</label>  </li>
                <li></label> Using a fitbit-like motion sensor to measure daily activity </label>  </li>
                <li></label> Social network analysis </label>  </li>
                <li></label> In classroom behavior </label>  </li>

            </ul>
            

            <h4> 5. Where is the testing taking place?</h4>

            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> In a lab testing room</label></li>
                <li> <label> In a M/EEG lab</label>          </li>
                <li></label> In an fMRI machine/facility </label></li>
                <li></label> Lab testing room in wet-lab facilities </label></li>

            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> More naturalistic stimulation is delivered on a computer screen and/or while wearing M/EEG/fNIRS or being inside the scanner 
                </label></li>
                <li> <label> In schools and classrooms but not in a typical classroom setting (during a normal lesson)
                </label>
                </li>
                <li></label> Measuring EEG in a lab when simultaneously in two participants who are interacting
                </label></li>
                <li></label> Lab that is set up to look like a classroom </label></li>

            </ul>
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label> In schools in a classroom with little to no experimenter presence and interference into teaching activitiest
                </label></li>
                <li> <label> Where the real-world behavior measured is natural (in the street, market, etc)</label>
                </li>
                <li> <label> At participant’s home </label>        </li>
                <li> <label> Hyperscanning during a real concert  </label>        </li>

            </ul>

            <h4> 6. What is your study measuring?</h4>

            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> Response or accuracy time in rigorous, process-specific lab-based tasks
                </label></li>
                <li> <label> Well-understood and well-researched brain (EEG / fMRI) correlates of a specific cognitive process tested in typical conditions (e.g. an well-known Event-Related Potential component like P1 or N2pc)</label>
                </li>
                <li> <label> Biomarkers such as cortisol level, RNA expression or DNA methylation, etc.          </label></li>
            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> Inter-subject correlational analyses of brain mechanisms during movie watching  </label>        </li>
                <li> <label> Analysing brain-wide mechanisms surrounding the canonical brain ‘correlate’ of a cognitive process
                </label></li>
                <li> <label> Parent report of child symptoms  </label></li>
                <li> <label> Questionnaire about real-life risk taking                 </label></li>
                <li> <label> Testing the canonical brain ‘correlate’ of a cognitive process in a non-traditional settings using more portable brain imaging tools (e.g. EEG or fNIRS):
                </label>
                </li>
                        <ul>
                            <li> <label>  In a different / multiple senses  </label></li>
                            <li> <label>  Using a physical setup inside the testing room or virtual reality
                            </label></li>
                            <li> <label>  in non-traditional populations (across the lifespan; individuals with non-traditional experience like sensory impairment)  </label></li>

                        </ul>
            </ul>
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label> Testing for canonical brain ‘correlates’ using (simplified) portable brain imaging tools in veridical external environments
                </label></li>
                <li> <label> Grades or standardized testing</label>   </li>
                <li> <label> Topics in free reports extracted by natural language processing (such as LSA or speach graphs) </label>   </li>
                <li> <label> Ecological momentary assessment ratings of anxiety symptoms                </label>   </li>
                <li> <label> Behavior in classroom                </label>   </li>
                <li> <label> EMA               </label>   </li>
                <li> <label> Real-life risk-taking data (e.g. alcohol use)               </label>   </li>

            </ul>

            <h4>7. How does sample recruitment take place? </h4>

            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> Recruiting undergraduates at a university, or any arbitrary criteria </label></li>
                <li> <label> Preclinical studies</label>  </li>
                <li> <label> Western, Educated, Industrialized, Rich, and Democratic (WEIRD) participants</label>  </li>
                <li> <label> Control sample matched only by age and gender</label>  </li>
                <li> <label> Recruiting children of professors at a university</label>  </li>

            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> Recruiting an aging sample from several nearby community living facilities
                </label>
                </li>
                <li> <label> Recruiting from one or few  local schools</label>  </li>

            </ul>
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label> Recruiting large data samples from statistically representative sample of school districts in a city                 </label></li>
                <li> <label> Recruiting a sample that matches national demographics</label>
                </li>
                <li> <label> Large crowd sourced data from public databases (e.g.: free narratives, subjective tags, etc)</label>  </li>

            </ul>

            <h4>8. Are non-research stakeholders involved?  </h4>

            <p class="lead">Controlled laboratory research:</p>
            <p >Practitioners (clinicians, teachers, head teachers, speech therapists) are not involved or involved by providing the access to the populations of interests</p>

            <p class="lead">Partially naturalistic laboratory research approach:</p>
            <p >Practitioners advise on and contribute at some but not all stages of the research project ( e.g. study design)</p>

            <p class="lead">Naturalistic real-world research approach:</p>
            <p >Practitioners advise on and contribute to all stages of the research project (help design, implement, and report on an intervention
            </p>

            <h4> 11. Please indicate where your intervention fits in best.</h4>

            <p class="lead">Controlled laboratory research examples:</p>
            <ul>
                <li> <label> Computer paradigm to train participants to look at neutral instead of negative faces</label></li>
            </ul>
            <p class="lead">Partially naturalistic laboratory research approach examples:</p>
            <ul>
                <li> <label> Training in school with standardized training but outside the regular classroom activities</label></li>
            </ul>
            <p class="lead">Naturalistic real-world research approach examples:</p>
            <ul>
                <li> <label> Providing first-line treatment for psychopathology by trained clinician</label></li>
                <li> <label> Having children play an online application at home by themselves</label> </li>
            </ul>

        </div>

        </article>

    </section>

    <section class="seccion">
        <div class="container">  
            <fieldset id="contact">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">If you are running an itervention</button>
            </fieldset>
        <article>
            <p>You may be intrested in check out this <a href="https://fluxsociety.org/">Can you Paul sent the link to
                    the form you shared</a> .</p>
        </article>

    </section>


</div>

{% endblock %}