{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">EVA additional information</h1>
    <p class="lead">Examples and more </p>
    <hr class="my-4">
    <section class="seccion">
        <h1> More examples</h1>
        <article>
            <h3> 2. Which methods do you base your main conclusions on? Examples:</h3>
            <p class="pagraph">Classic laboratory-based: </p>
            <p class="pagraph">Partially naturalistic: </p>
            <p class="pagraph">Fully naturalistic: </p>
        </article>

        <article>
            <h3>3. Describe your tasks. Examples:</h3>
            <p class="pagraph">Classic laboratory-based: </p>
            <p class="pagraph">Partially naturalistic: </p>
            <p class="pagraph">Fully naturalistic: </p>
        </article>
    </section>

    <section class="seccion">
        <h1> If you are running an itervention</h1>
        <article>
            <p>You may be intrested in check out this <a href="https://fluxsociety.org/">Can you Paul sent the link to the form you shared</a> .</p>
        </article>

    </section>
    

</div>

{% endblock %}